.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 32px);
    padding-top: 64px;
  }
}
